{% extends 'backend/base.html' %} {% block title %} Product List {% endblock %}
{% load tag_library %} {% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Edit Products</h1>
</div>

<section>
  <div class="row">
    <div class="col-md-12">
      <form action="{% url 'product:edit.product' pk=current_product.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
          <div class="col-md-5">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputEmail4">Product Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputEmail4"
                  name="title"
                  placeholder="Product name"
                  value="{{current_product.product.title}}"
                />
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputEmail4">Product SKU</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputEmail4"
                  placeholder="Product SKU"
                  name="sku"
                  value="{{current_product.product.sku}}"
                />
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputEmail4">Description</label>
                <textarea
                  class="form-control"
                  id="inputEmail4"
                  name="description"
                  placeholder="Description"
                  rows="10"
                >
                  {{current_product.product.description}}
                </textarea>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Variants</th>
                  <th scope="col">Price</th>
                  <th scope="col">Stock</th>
                </tr>
              </thead>
              <tbody>
                {% if current_product.product_varients %}
                {% for variant in current_product.product_varients.all %}
                <tr>
                  <th scope="row">{{variant.variant_title}}</th>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Price"
                      name="price"
                      value="{{variant.price}}"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Stock"
                      value="{{variant.stock}}"
                    />
                  </td>
                </tr>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="/product/list/">
          <button type="button" class="btn btn-danger">Cancel</button>
        </a>
      </form>
    </div>
  </div>
</section>

{% endblock %}
